.aboutsdr_r {
	background-color: white;
	color: #2A140E;
}

.header_sdr_r {
	position: relative;
	width: 100%;
	max-width: 100%;
}

.img_top_sdg_r {
	background-image: url("../img/rubia/library.jpg");
	width: 100%;
	height: 60vh;
	background-size: cover;
	background-repeat: no-repeat;
	transition: height 0.5s ease;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 30px;
	transition: 25vh;
}

.shrink-banner {
	height: 25vh !important;
}

.img_top_sdg_r.shrink-banner h1, .img_top_sdg_r.shrink-banner h2 {
	opacity: 0;
	height: 0;
	overflow: hidden; /** overflow hidden makes everything that is overflowing the div be cutted so we don't see it overflowing  **/
}

.banner_sdg_r img {
	width: 100%; 
	display: block; /** to remove extra spaces down the image **/
}

.text_top_sdg_r {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /** left50% + top50% + translate(-50%, -50%) is how div's are centralized **/
	text-transform: uppercase; /** text-transform uppercase makes all the text in uppercase, meanwhile lowercase makes all the text be in lowercase, and captilize makes the firts leters be in upercase **/
	background: white;
	background-size: 200%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate-gradient 2.5s linear infinite; /** linear infinite is for the animation don't stop, and the 2.5s is the time for the animation to be complete, and then repeat again as it's an infinite animation **/
	-webkit-text-stroke: 0.3px black;
}

@keyframes animate-gradient {
	to {
		background-position: 200px;
	}
} /** keyframes is used to define the animation you want **/

.title_top_sdg_r h1 {
	font-family: "Anton", sans-serif;
	font-size: 4rem;
	color: white;
}

.subtitle_top_sdg_r h2 {
	font-size: 2rem;
	font-family: "Anton", sans-serif;
}

/** to change size of text in sreens less than 1024px **/
@media (max-width: 1024px) {
	.title_top_sdg_r h1 {
		font-size: 3.7rem !important;
	}
}
/** !important is used when you want to create a diferent thing that you whant the computer to select as main. for example now I defined that the font size was 4 rem, but if the screen max width is 1024 px the text is going to be 3.7 rem and the computer is going to ignore the other option and consider only the one that is tagged as important if the conditon matches(the screen size in this situation) **/
@media (max-width: 1024px) {
	.subtitle_top_sdg_r h2 {
		font-size: 2.7rem !important;
	}
}

/** to change size of text in small screens, start to change in ipad mini but works for smartphones too, if I need to change again I just neet to add a smaller screen that is only for smatphones, not ipads**/
@media (max-width: 768px) {
	.title_top_sdg_r h1 {
		font-size: 3.5rem !important;
	}
}
@media (max-width: 1024px) {
	.subtitle_top_sdg_r h2 {
		font-size: 1.5rem !important;
	}
}

.text_to_justify {
	text-align: justify;
}

.btns_to_hover {
	display: flex;
	justify-content: space-between;
}

.btn_hoover_me_sdg_r {
	padding: 9px 25px;
	border: none;
	outline: none;
	color: #FFF;
	cursor: pointer;
	position: relative;
	z-index: inherit; /** z-index controls the layers of the things in the page, it only works for elements with a defined position, that can be defined with position: relative/absolute/fixed/sticky. z-index -1 puts the things in the back of the z-index 0 or z-index auto, inherit makes the value of the index be received from its base element so if the father element is z-index 1, it is also going to be z-index 1**/
	border-radius: 50px; 
	background-color: transparent;
}

.btn_hoover_me_sdg_r::after{
	content: ""; /** the tag content: '' needs to be used with the  pseudo-elements because without it they don't appear. the pseudo-elements are: before, after, active, hover, focus. before and after (used for decoration) can add extra content do the element meanwhile active focus and hover (used for interaction) can change the style of it according to its state. hover changes the element when the mouse is over it, active changes the element when it is being clicked and focus when it is being selected **/
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #2A140E; /** #432b55 #333 **/
	left: 0;
	top: 0;
	border-radius: 60px;
}

.btn_hoover_me_sdg_r::before {
	content: "";
	background: linear-gradient(
		45deg,
		#FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5, #002BFF, #FF00C8, #FF0000
	); 
	position: absolute;
	top: -2px; 
	left: -2px;
	background-size: 600%;
	z-index: -1;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	filter: blur(8px);
	animation: glowing 20s linear infinite;
	transition: opacity .3s ease-in-out;
	border-radius: 10px;
	opacity: 0;
}

.btn_hoover_me_sdg_r:hover::before {
	opacity: 1;
}

.btn_hoover_me_sdg_r:active:after {
	background: transparent;
}

.btn_hoover_me_sdg_r:active {
	color: #000;
	font-weight: bold;
}

.btn4_hoover_me_sdg_r {
	width: 100%;
	text-align: center;
	padding: 9px 25px;
	border: none;
	outline: none;
	color: #FFF;
	cursor: pointer;
	position: relative;
	z-index: inherit;
	border-radius: 50px; 
	background-color: transparent;
}

.btn4_hoover_me_sdg_r::after{
	content: "";
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #2A140E; /** #333 **/
	left: 0;
	top: 0;
	border-radius: 60px;
}

.btn4_hoover_me_sdg_r::before {
	content: "";
	background: linear-gradient(
		45deg,
		#FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5, #002BFF, #FF00C8, #FF0000
	); /** the first and the last color are the same because it makes the transition smooth **/
	position: absolute;
	top: -2px; 
	left: -2px;
	background-size: 600%;
	z-index: -1;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	filter: blur(8px);
	animation: glowing 20s linear infinite;
	transition: opacity .3s ease-in-out;
	border-radius: 10px;
	opacity: 0;
}

@keyframes glowing {
	0% {background-position: 0 0;}
	50% {background-position: 400% 0;}
	100% {background-position: 0 0;}
}

.btn4_hoover_me_sdg_r:hover::before {
	opacity: 1;
}

.btn4_hoover_me_sdg_r:active:after {
	background: transparent;
}

.btn4_hoover_me_sdg_r:active {
	color: #000;
	font-weight: bold;
}

.a_sdg_r{
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: white;
	text-decoration: none;
}

.a_sdg_r:hover {
	color: white;
}

.button_four_sdg_r{
	color: white;
	align-content: center;
	width: 100%;
	height: 40px;
	background-color: pink;
	border: none;
	border-radius: 50px;
	cursor:pointer;
	transition: all 0.3s ease 0s;
}

.button_four_sdg_r:hover{
	color: white;
	background-color: #FF2967;
	padding: 9px 25px;
}

.aboutsdg_r * {
	box-sizing: border-box; /**  **/
	margin: 0;
	padding: 0;
}

#img_add_border_sdg_r {
	border: 10px double #432b55; /** double is a borther effect that makes the border have two lines **/
	width: 100%;
	height: 100%;
}

.line_for_division {
	height: 1px;
	width: 98%;
	overflow: hidden;
	background-size: 500% 100%;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.line_for_division::before {
	content: '';
	position: absolute;
	inset: 0; /** inset here is to assure the element + before is going to cover all the space that the element without before cover without needing to type bottom/top/left/right:0 because without is the efecct was not apearing  **/
	background: linear-gradient(to right, grey, blue, grey, blue, grey);
	background-size: 500% 100%;
	animation: tryingByMyself 20s linear infinite;
	border-radius: 500px;
}

@keyframes tryingByMyself {
	0% {
		background-position: 0% 0;
	}
	100% {
		background-position: 500% 0;
	}
}

.add_margin_sdg_r {
	margin-bottom: 100px;
}

.whatToDo_sdg_r {
	margin-bottom: 35px;
}

.top_target_r {
	background-image: url("../img/rubia/unsplash-img7.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 0 2rem;
}

.inside_top_image_target_r {
	text-align: center;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 4rem;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
	margin: 0.5rem 0;
	
}

@media (min-width: 1440px) {
	html {
		zoom: 1.5 !important;
	}
}

@media (min-width: 2560px) {
	html {
		zoom: 1.7 !important;
	}
}

@media (min-width: 3860px) {
	html {
		zoom: 2.5 !important;
	}
}

::-webkit-scrollbar {
	width: 1.3rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background: #797979; /** trocar cor dps **/
	transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
	background: #222224; /** trocar tb **/
}

::-webkit-scrollbar-track {
	background: #f9f9f9;
}

.section-heading {
	font-size: 3rem;
	color: var(--primary);
	padding: 2rem 0;
}

#tranding {
	padding: 4rem 0;
}

@media (max-width: 1440px) {
	#tranding {
		padding: 7rem 0 !important;
	}
}

#tranding .tranding-slider {
	height: 52rem;
	padding: 2rem 0;
	position: relative;
}

@media (max-width: 500px) {
	#tranding .tranding-slider {
		height: 45rem !important;
	}
}

.tranding-slide {
	width: 37rem;
	height: 42rem;
	position: relative;
}

@media (max-width: 500px) {
	.tranding-slide {
		width: 28rem !important;
		height: 36rem !important;
	}
	
	.tranding-slide .tranding-slide-img img {
	width: 28rem !important;
	height: 36rem !important;
	}
}

.tranding-slide .tranding-slide-img img {
	width: 37rem;
	height: 42rem;
	border-radius: 2rem;
	object-fit: cover;
}

.tranding-slide .tranding-slide-content {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.tranding-slide-content .top_text_slider_target_r {
	position: absolute;
	top: 2rem;
	right: 2rem;
	color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	color: var(--white);
}

.target_subtitle_inside_slider {
	padding-top: 1rem;
	display: flex;
	gap: 1rem;
}

.target_subtitle2_inside_slider ion-icon {
	color: var(--primary);
}

.swiper-slide-shadow-left, .swiper-slide-shadow-right {
	display: none;
}

.tranding-slider-control {
	position: relative;
	bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: center; /** tava center, e n tinha margin-top e width **/
	margin-top: 1rem;
	width: 100%;
}

.tranding-slider-control .swiper-button-next {
	left: 58% !important;
	transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
	.tranding-slider-control .swiper-button-next {
		left: 70% !important;
		transform: translateX(-70%) !important;
	}
}

@media (max-width: 450px) {
	.tranding-slider-control .swiper-button-next {
		left: 80% !important;
		transform: translateX(-80%) !important;
	}
}

@media (max-width: 990px) {
	.tranding-slider-control .swiper-button-prev {
		left: 30% !important;
		transform: translateX(-30%) !important;
	}
}

@media (max-width: 450px) {
	.tranding-slider-control .swiper-button-prev {
		left: 20% !important;
		transform: translateX(-20%) !important;
	}
}

.tranding-slider-control .slider-arrow {
	background: var(--white);
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	left: 42%;
	transform: translateX(-42%);
	filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1)); /** drop-shadow creates a shadow **/
}

.tranding-slider-control .slider-arrow ion-icon {
	font-size: 2rem;
	color: #222224;
}

.tranding-slider-control .slider-arrow::after {
	content: '';
}

.tranding-slider-control .swiper-pagination {
	position: relative;
	width: 15rem;
	bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
	filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-active {
	background: var(--primary);
}

@property --angle {
	syntax: "<angle>"; /** is used to change the angle of the property **/
	initial-value: 0deg; /** defines the angle you want to change it to in the start **/
	inherits: false; /** defines that nothing is going to be inherited (as with z-index that I can set it to be inherited, so this cancel it) **/
}

.icon_add_border_sdg_r {
	margin: 0 auto;
	padding: 2em;
	width: 300px;
	background: white;
	text-align: center;
	border-radius: 10px;
}

.icon_add_border_sdg_r::after, .icon_add_border_sdg_r::before {
	content: '';
	position: absolute;
	height: 100%;
	width:100%;
	background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545); /** conic-gradient is a circle gradient **/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	padding: 3px;
	animation: 3s spin linear infinite;
	border-radius: 10px;
}

.icon_add_border_sdg_r::before {
	filter: blur(1.5rem); /** filters change an element visually, they can be blur, drop-shadow, contrast, etc. blur it loose focus **/
	opacity: 0.5; 
}

@keyframes spin{
	from {
		--angle: 0deg;
	}
	to{
		--angle: 360deg;
	}
}

.image_left_target_r {
	width: 100%;
}

.img_bottom_traget_r {
	width: 100%;
	height: 200px;
	object-fit: cover;
}


/**
References:

	https://www.youtube.com/watch?v=li-ylRo7VEc
	
	https://www.youtube.com/watch?v=b_8fHNIHFk4&t=191s
	
	https://www.youtube.com/watch?v=ezP4kbOvs_E
	
 **/